<form [formGroup]="formularioLogin" (ngSubmit)="login()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      formControlName="correo"
      type="email"
      class="form-control"
      [ngClass]="{'wrong-data-input': mailerror, 'ok-data-input': okEmail}"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div *ngIf="mailerror" id="emailHelp" class="wrong-data-text">
      {{mailerror}}
    </div>
    <div *ngIf="okEmail" id="emailHelp" class="ok-data-text">
      El campo es correcto
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      formControlName="contrasena"
      type="password"
      class="form-control"
      [ngClass]="{'wrong-data-input': errorContrasena, 'ok-data-input': okContrasena}"
      id="exampleInputPassword1"
    />
    <div *ngIf="errorContrasena" id="contrasenaHelp" class="wrong-data-text">
      La contraseña debe tener mas de 6 digitos
    </div>
    <div *ngIf="okContrasena" id="contrasenaHelp2" class="ok-data-text">
      El campo es correcto
    </div>
  </div>
  <div class="mb-3 form-check">
    <input
      formControlName="recordarContrasena"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
